/*My black #302b2a et mon rouge #d61232 */

ul{margin: 0; padding: 0;}
li{list-style-type: none;}
h1{font-size: 2.5rem;}
button{outline-color: rgba(0,0,0,0);}
.button{padding: 0; margin: 0; border: 0;}


body{
	/*background-color: #EEE8D8;*/ /*#FFFFE3*/ /*Moved in sass-style.scss*/
	/*font-family: 'Roboto', sans-serif;*/
}



body>header.callout{
	width: 100%;
	height: 76px;
	border-width: 0px 0px 1px 0px;
	border-style: none none solid none;
	border-color: rgba(0, 0, 0, 0);	
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
	margin: 0px 0px 1rem;
	padding: 1rem;
	border-radius: 0px;
	position: relative;
	color: #222;
	background-color: #302b2a;
	position: fixed;
	top: 0px;	
	z-index: 1000000;
	/*transform: translate(0px, 0px);
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 0.99, 0.13, 0.995);*/
	
}

/*Second navigation bar*/

main#base>header.second-nav{
	/*width: 100vw;*/
	/*height: 100vh;*/
	border-width: 0px;
	border-style: none;
	border-color: rgba(0, 0, 0, 0);	
	box-shadow: 0px;
	margin: 0px;
	padding: 0;
	border-radius: 0px;
	position: relative;
	color: #222;
	background-color: transparent;
	/*position: fixed;*/
	top: -20px;	
	/*z-index: 1000000;*/
	/*transform: translate(0px, 0px);
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 0.99, 0.13, 0.995);*/
	
}

main#base>header.second-nav section{max-width: none; padding: 0;}

main#base>header.second-nav aside{
	height: 100vh;	
	background-color: transparent;
	transition-duration: 1s;
	transition-property: transform;
	transition-timing-function: ease;
	transform: translate(0 0);
	padding: 0;
	
}

#base > header > section > aside.open{
	display: none;
}

#base > header > section > aside > header{
	height: 76px;
    width: 100%;
    background-color: #d9d3c5;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: relative; 
    margin: 0;
    padding: 1rem;
}

header > select{
	border: 0 !important;  /*Removes border*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    background-image: url('../img/iconset_yokoso_sprite_black.svg');
	background-repeat: no-repeat;
	background-position: right -2654px;
	background-size: auto;
	height: 100%;
    width: 100%; /*Width of select dropdown to give space for arrow image*/
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: "";  /*Removes default arrow from firefox*/
    outline-color: rgba(0,0,0,0);
    padding-left: 10px;
}

main#base>header.second-nav aside ul{
	padding: 0;
	height: 100vh;
	overflow: scroll;
	overflow-x: hidden;
}

main#base>header.second-nav aside ul li{
	height: 114px;
	width: 100%;
	background-color: #d9d3c5;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
	opacity: 0.5;
}

#base > header > section > aside > ul > li:hover{
	opacity: 1;
}

#base > header > section > aside > ul > li.active{
	opacity: 1;
}


main#base>header.second-nav aside ul li a div.img-profil{
	height: 114px;
	width: 114px;
	background-color: #97c6c1;
	background-image: url('../img/avatar2.svg');
	background-repeat: no-repeat;
	background-position: -151px center;
	background-size: cover;
	float: left;
	margin-right: 10px;

}

#base > header > section > aside > ul > li > a > div:nth-child(2){
	padding: 1rem;
	width: 100%;
	height: 100%;
}

#base > header > section > aside > ul > li > a > div:nth-child(2) h3, #base > header > section > aside > ul > li > a > div:nth-child(2) p{
	margin: 0;
}

#base > header > section > aside > ul > li > a > div:nth-child(2) h3{font-size: 1.5rem;}

#base > header > section > aside > ul > li > a > div:nth-child(2) h3::after{
	content: " ♀ ";
}

/*EDIT SCROLL BAR OF OVERFLOW*/
/* Let's get this party started */
main#base>header.second-nav aside > ul::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
main#base>header.second-nav aside>ul::-webkit-scrollbar-track {
    background-color: white;
}
 
/* Handle */
main#base>header.second-nav aside>ul::-webkit-scrollbar-thumb {
    background: #302b2a;
}
main#base>header.second-nav aside>ul::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

main#base>header.second-nav aside>ul::-webkit-resizer {
	display: none;
}
/*END EDIT SCROLL BAR OF OVERFLOW*/


main#base>header.second-nav section div.right-panel section.read-letter{
	height: 100vh;	
	background-color: #fff7ab;
	z-index: 1;	
	transform: translate(1000px,0);
}

main#base>header.second-nav section div.right-panel section.read-letter.active{
	height: 100vh;	
	background-color: #fff7ab;
	z-index: 1000000;	
	transition-duration: 0s;
	transition-property: transform;
	transition-timing-function: ease;
	transform: translate(0,0);
}

/*Header de la seconde nav*/

main#base>header.second-nav section div.right-panel section.read-letter header{
	height: 76px;
	width: 100%;
	background-color: #d9d3c5;/* Grey*/
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 10;

	/*position: fixed;*/
}

main#base>header.second-nav section div.right-panel section.read-letter header button.contact-panel{
	height: 100%;
	width: 50px;
	background-color: #a6a297;
	background-image: url('../img/iconset_yokoso_sprite.svg');
	background-repeat: no-repeat;
	background-position: center -1565px;
	background-size: auto;

}

main#base>header.second-nav section div.right-panel section.read-letter header h2{
	display: inline-block;
	vertical-align: top;
	line-height: 76px;
	height: 76px;
	margin:0; 
	cursor: pointer;
}

main#base>header.second-nav section div.right-panel section.read-letter header h2::before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	line-height: 76px;
	height: 50px;
	width: 50px;
	margin: -5px 10px 0px 10px; 
	background-color: transparent;
	background-image: url('../img/avatar2.svg');
	background-repeat: no-repeat;
	background-position: -1px center;
	background-size: cover;
}

main#base>header.second-nav section div.right-panel section.read-letter header div{
	/*display: inline-block;
	vertical-align: top;*/
	float: right;
	line-height: 76px;
	height: 76px;
	margin: 13px 20px 0 20px;
}

main#base>header.second-nav section div.right-panel section.read-letter header div button.tools{
	
	line-height: 76px;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background-color: #a6a297;
	
	
}

#base > header > section > div > section > header > div > button:nth-child(1){
	background-image: url('../img/iconset_yokoso_sprite.svg');
	background-repeat: no-repeat;
	background-position: center -1775px;
	background-size: auto;
}

#base > header > section > div > section > header > div > button:nth-child(2){
	background-image: url('../img/iconset_yokoso_sprite.svg');
	background-repeat: no-repeat;
	background-position: center -1875px;
	background-size: auto;
}

main#base>header.second-nav section div.right-panel section.read-letter{position: relative;}

/*Big red button of second nav header bar */

main#base>header.second-nav section div.right-panel section.read-letter header a.right-header{
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 76px;
	background-color: #d61232;
	background-image: url('../img/iconset_yokoso_sprite.svg');
	background-repeat: no-repeat;
	background-position: center -2448px;
	background-size: auto;
	float: right;
}

/*Second nav header contact description*/
main#base>header.second-nav section div.right-panel section.read-letter section.contact-description{
	display: none;
	transform: translate(0px, -250px);
	

}

main#base>header.second-nav section div.right-panel section.read-letter section.contact-description.open{
	display: block;
	position: absolute;
	top: 76px;
	left: 0;
	right: 0;
	width: 100%;
	height: 250px;
	background-color: #d9d3c5;/* Grey*/
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
	padding: 20px;
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 0.99, 0.13, 0.995);
	transform: translate(0px, 0px);
	z-index: 9;
	opacity: 0.5;

}

#base > header > section > div > section > section{
	width: 100%;
	height: 100vh;
	/*overflow: scroll;
	overflow-x: hidden;	*/
}

/*#base > header > section > div > section > section > article.letter.row.large-12.medium-12.columns{
	max-width: 780px;
	margin: auto;		
}*/

/*.letter-closed{
	height: 76px;
	background-color: #fff;
	margin: 1rem;
	border-radius: 4px;
	position: relative;
	
}*/

/*.letter-closed p{
	position: absolute; 
	font-size: 1rem; 
	line-height: 76px; 
	height: 76px;
	padding: 0 1rem 0 1rem;
}*/

/*.letter-closed p:nth-child(1){top: 0; left:0;}
.letter-closed p:nth-child(2){top: 0; right:0;}

.letter-opened{
	background-color: #fff;
	margin: 40px 1rem 1rem 1rem;
	padding: 1rem;
	border-radius: 4px;	
	position: relative;
}

.letter-opened::before{
	content: "21 Janvier 2016";
	position: absolute;
	top: -20px;
	left: 0;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.letter-opened::after{
	content: "20:15";
	position: absolute;
	top: -20px;
	right: 0;
	font-size: 0.8rem;
	text-transform: uppercase;
}*/

#base > header > section > div > section > section > button{
	margin: 0px 1rem 1rem 33.33%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    position: relative;
    color: white;
    background-color: #d61232;
    height: 76px;
    width: 380px;
    outline-color: rgba(0,0,0,0);
    text-align: center;

}



/*body>header.callout.open{
	transform: translate(180px, 0px);
}*/

header.callout > nav.row.large-12.columns{
	max-width: 100rem;
}

header.callout > nav.row.large-12.columns h1{
	text-align: center;
	line-height: 44px;
	font-size: 2rem;
	/*background-color: yellow;*/
	


}

/*Burger button*/

header > nav > div{
	line-height: 43px;
	padding-top: 10px;
}

nav button.menu-burger-trigger{
	
	width: 36px;
	height: 36px;
	padding: 0;
	position: relative;
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	outline-color: rgba(0,0,0,0);
}

nav button.menu-burger-trigger span{
	position: absolute;
	display: block;
	background-color: white;
	width: 36px;
	height: 2px;
	border-radius: 2px;
	transition-property: transform, top;
	transition-duration: 0.30s;
	transition-timing-function: ease;
	transform: translate(0 0);
	transform-origin: 50% 50%;
	transform: rotate(0deg);
}

/*When  menu is opened change from burger to cross*/

nav button.menu-burger-trigger span:nth-child(1){
	top: 0px;
	left: 0px
	right: 0px;
}

nav button.menu-burger-trigger.open span:nth-child(1){
	top: 12px;
	transform-origin: 50% 50%;
	transform: rotate(45deg);
}

nav button.menu-burger-trigger span:nth-child(2){
	top: 12px;
	left: 0px
	right: 0px;
}

nav button.menu-burger-trigger.open span:nth-child(2){
display: none;	
}

nav button.menu-burger-trigger span:nth-child(3){
	top: 24px;
	left: 0px
	right: 0px;
}

nav button.menu-burger-trigger.open span:nth-child(3){
	top: 12px;
	transform-origin: 50% 50%;
	transform: rotate(-45deg);
}

nav.row.large-12.columns ul{
	/*line-height: 35px;*/
	padding: 0;
	margin: 0;

}

/*nav.row.large-12.columns ul li:nth-child(2) a.button{
	transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
	border: 0px solid transparent;
	border-radius: 0px;
	padding: 0.85em 1em;
	margin: 0px 0px 1rem;
	font-size: 1rem;
	background-color: transparent;
	color: white;
}*/

nav.row.large-12.columns ul.jp-buttons li{
	
	float: left;
	padding: 0 0.9rem 0 0;
}

nav.row.large-12.columns ul.fr-buttons li{
	
	float: right;
	padding: 0 0 0 0.9rem;

}

nav.row.large-12.columns li{
	display: inline-block;
	/*padding: 0 0.9rem 0 0.9rem;*/
}

/*nav.row.large-12.columns li a.button{
	margin: 0px;	
	transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
	border: 0px solid transparent;
	border-radius: 5px;
	padding: 0.85em 1em;
	margin: 0px 0px 1rem;
	font-size: 1rem;
	background-color: #d61232;
	color: white;
}

nav.row.large-12.columns li a.button:hover{	
	background-color: white;
	color: #302b2a;
}*/

nav#menu-push{
	margin-top: 76px;
	height: 100vh;
	width: 300px;
	position: fixed;
	z-index: 1000;
	left: 0px;
	top: 0px;
	background: #302b2a none repeat scroll 0% 0%;
	color: #FFF;
	z-index: 100000000;
	transform-style: preserve-3d;
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 0.99, 0.13, 0.995);
	transform: translate(-300px, 0px);
}

nav#menu-push.open{
	transform: translate(0px, 0px);
}

nav#menu-push>ul{
	/*background-color: yellow;*/
	margin: 20px;
}

nav#menu-push>ul>li>a{
	color: white;	
}

nav#menu-push>ul>li>a:hover{
	color: #d61232;	
}

main#base{
	
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 0.99, 0.13, 0.995);
	transform: translate(0px, 0px);	

}

main#base.open{
	transform: translate(300px, 0px);	
}

main#base>section:nth-child(1){
	padding: 0;
}

.frame-left, .frame-right{
	margin: 0px 0px 1rem;
    padding: 1rem 1rem 0px 1rem;
    border: 0px solid rgba(10, 10, 10, 0.25);
    border-radius: 0px;
    position: relative; 
}
.frame-left{
	background-color: #305697;	   
}


.frame-right{
	background-color: #DA4C38;
}

div.inside-left, div.inside-right{
	margin: 0px 0px 0px;
	padding: 1rem;	
	/*border-width: 1px 1px 0px 1px;*/  border-width: 1px 1px 0px 1px; 
	/*border-style: solid solid none solid;*/ border-style: solid solid none solid;
	border-color: black;
	/*box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.1);*/
	border-radius: 4px 4px 0px 0px;
	position: relative;
	color: black;
	background-color: rgba(0,0,0,0);
}

footer.inside-left, footer.inside-right{
	margin: 0px 0px 1rem;
	padding: 1rem;	
	border-width: 0px 1px 1px 1px;
	border-style: none solid solid solid;
	border-color: black;
	/*box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);*/
	border-radius: 0px 0px 4px 4px;
	position: relative;
	color: #302b2a;
	background-color: rgba(0,0,0,0);
	height: 50px;
}

footer.inside-left p, footer.inside-right p{
	text-align: right;
	margin-right: 55px;
	font-size: 0.9rem;
	font-style: italic;

}

button.square-button{
	background-image: url('../img/iconset_yokoso_sprite_black.svg');
	background-repeat: no-repeat;
	background-position: center -1579px;
	background-size: auto;
	border-color: #302b2a;
	border-width: 1px 0 0 1px;
	border-style: solid none none solid;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: -1px;
	right: -1px;
	border-radius: 0px;
	outline-color: rgba(0,0,0,0);
}

/*button.square-button:after{
	content: "▹";
	padding: 15px;
	line-height: 48px;
	font-size: 2rem;
	color: #302b2a;
}*/

main > section:nth-child(2), main > section:nth-child(3){
	padding: 0;
}

main > section:nth-child(2) div.inside-right, main > section:nth-child(2) footer.inside-right, main > section:nth-child(3) div.inside-right, main > section:nth-child(3) footer.inside-right{
	
	border-color: black;
	color: black;
	background-color: transparent;
	
}

main > section:nth-child(2) button.square-button, main > section:nth-child(3) button.square-button{
	background-color: transparent;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: -1px;
	right: -1px;
	border-radius: 0px;
	border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: black;
}

main > section:nth-child(2) button.square-button:after, main > section:nth-child(3) button.square-button:after{
	content: "▹";
	padding: 15px;
	line-height: 48px;
	font-size: 2rem;
	color: black;
}

main > section.row.large-12.columns{
	margin-bottom: 1rem;
}

.border-button{
	margin: 0px 0px 1rem;
	padding: 1rem;	
	border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: black;
	/*box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);*/
	border-radius: 0px;
	position: relative;
	color: black;
	background-color: rgba(0,0,0,0);
	height: 50px;
}

.border-button p{
	text-align: right;
	margin-right: 55px;
	margin-left: 55px;
	font-size: 0.9rem;
	font-style: italic;
}

#base > section > article:nth-child(2) > footer:nth-child(2){
	border-width: 1px 1px 0px 1px;
	border-style: solid solid none solid;
	margin: 0px;
}

#base > section > article:nth-child(2) > footer:nth-child(2) .square-button{
	border-width: 0 0 0 1px;
	border-style: none none none solid;
	margin: 0px;
}

.picto-button{
	background-color: transparent;
	border-color: #302b2a;
	border-width: 0 1px 0 0;
	border-style: none solid none none;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: -1px;
	left: -1px;
	border-radius: 0px;
	outline-color: rgba(0,0,0,0);
}

#base > section > article:nth-child(2) > footer:nth-child(2) button.picto-button{
	background-image: url('../img/iconset_yokoso_sprite_black.svg');
	background-repeat: no-repeat;
	background-position: center -1015px;
	background-size: auto;
}

#base > section > article:nth-child(2) > footer:nth-child(3) > button.picto-button{
	background-image: url('../img/iconset_yokoso_sprite_black.svg');
	background-repeat: no-repeat;
	background-position: center -714px;
	background-size: auto;
}

button.picto-button::after{
	background-color: #d61232;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	top:0;
	right:0;

}

button.big-button{
	margin: 0px 0px 1rem 0px;
	padding: 1rem;	
	border: none;
	border-radius: 4px;
	position: relative;
	color: white;
	background-color: #d61232;
	height: 76px;
	width: 100%;
	outline-color: rgba(0,0,0,0);

}

button.big-button h1{
	font-size: 1.45rem;
	text-align: left;
	margin-left: 81px;
	line-height: 3rem;
}

button.big-button div.picto-button{
	width: 76px;
	height: 100%;
	border-style: solid;	
	border-color: #EEE8D8;
	border-width: 0 1px 0 0;
	outline-color: rgba(0,0,0,0);
	background-image: url('../img/iconset_yokoso_sprite.svg');
	background-repeat: no-repeat;
	background-position: center -2448px;
	background-size: auto;
}

#base > section > article:nth-child(3) > div.callout{
	border-radius: 4px;
	border: 1px solid #302b2a;
	text-align: center;
}

#base > section > article:nth-child(3) > div.callout h1{
	width: 100%;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #302b2a;	
}

#base > section > article:nth-child(3) > div > div > div:nth-child(2) > h1{border-width: 0 0px 1px 0;}

#base > section > article:nth-child(3) > div.callout div.large-6.medium-6{padding: 0;}