/*My black #302b2a et mon rouge #d61232 */

ul{margin: 0; padding: 0;}
li{list-style-type: none;}
h1{font-size: 2.5rem;}
button{outline-color: rgba(0,0,0,0);}
.button{padding: 0; margin: 0; border: 0;}


body{
	/*background-color: #EEE8D8;*/ /*#FFFFE3*/ /*Moved in sass-style.scss*/
	/*font-family: 'Roboto', sans-serif;*/
}



body>header.callout{
	width: 100%;
	height: 76px;
	border-width: 0px 0px 1px 0px;
	border-style: none none solid none;
	border-color: rgba(0, 0, 0, 0);	
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
	margin: 0px 0px 1rem;
	padding: 1rem;
	border-radius: 0px;	
	color: #222;
	background-color: #302b2a;
	position: fixed;
	top: 0px;	
	z-index: 1000000;
	/*transform: translate(0px, 0px);
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 0.99, 0.13, 0.995);*/
	
}

/*Second navigation bar*/




/*body>header.callout.open{
	transform: translate(180px, 0px);
}*/

header.callout > nav.row.large-12.columns{
	max-width: 100rem;
}

header.callout > nav.row.large-12.columns h1{
	text-align: center;
	line-height: 44px;
	font-size: 2rem;
	/*background-color: yellow;*/
	


}

/*Burger button*/

header > nav > div{
	/*line-height: 43px;
	padding-top: 10px;*/
}

nav button.menu-burger-trigger{
	
	width: 36px;
	height: 36px;
	padding: 0;
	position: relative;
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease;
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-moz-transition-property: transform;
	-moz-transition-duration: 1s;
	-moz-transition-timing-function: ease;
	-moz-transform-origin: 50% 50%;
	-moz-transform: rotate(0deg);
	-webkit-transition-property: transform;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease;
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
	outline-color: rgba(0,0,0,0);
}

nav button.menu-burger-trigger span{
	position: absolute;
	display: block;
	background-color: white;
	width: 36px;
	height: 2px;
	border-radius: 2px;
	transition-property: transform, top;
	transition-duration: 0.30s;
	transition-timing-function: ease;
	transform: translate(0 0);
	transform-origin: 50% 50%;
	transform: rotate(0deg);
	-moz-transition-property: transform, top;
	-moz-transition-duration: 0.30s;
	-moz-transition-timing-function: ease;
	-moz-transform: translate(0 0);
	-moz-transform-origin: 50% 50%;
	-moz-transform: rotate(0deg);
	-webkit-transition-property: transform, top;
	-webkit-transition-duration: 0.30s;
	-webkit-transition-timing-function: ease;
	-webkit-transform: translate(0 0);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(0deg);
}

/*When  menu is opened change from burger to cross*/

nav button.menu-burger-trigger span:nth-child(1){
	top: 0px;
	left: 0px
	right: 0px;
}

nav button.menu-burger-trigger.open span:nth-child(1){
	top: 12px;
	transform-origin: 50% 50%;
	transform: rotate(45deg);
	-moz-transform-origin: 50% 50%;
	-moz-transform: rotate(45deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(45deg);
}

nav button.menu-burger-trigger span:nth-child(2){
	top: 12px;
	left: 0px
	right: 0px;
}

nav button.menu-burger-trigger.open span:nth-child(2){
display: none;	
}

nav button.menu-burger-trigger span:nth-child(3){
	top: 24px;
	left: 0px
	right: 0px;
}

nav button.menu-burger-trigger.open span:nth-child(3){
	top: 12px;
	transform-origin: 50% 50%;
	transform: rotate(-45deg);
	-webkit-transform-origin: 50% 50%;
	-webkit-transform: rotate(-45deg);
	-moz-transform-origin: 50% 50%;
	-moz-transform: rotate(-45deg);
}

nav.row.large-12.columns ul{
	/*line-height: 35px;*/
	padding: 0;
	margin: 0;

}

/*nav.row.large-12.columns ul li:nth-child(2) a.button{
	transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
	border: 0px solid transparent;
	border-radius: 0px;
	padding: 0.85em 1em;
	margin: 0px 0px 1rem;
	font-size: 1rem;
	background-color: transparent;
	color: white;
}*/

nav.row.large-12.columns ul.jp-buttons li{
	
	float: left;
	padding: 0 0.9rem 0 0;
}

nav.row.large-12.columns ul.fr-buttons li{
	
	float: right;
	padding: 0 0 0 0.9rem;

}

nav.row.large-12.columns li{
	display: inline-block;
	/*padding: 0 0.9rem 0 0.9rem;*/
}

/*nav.row.large-12.columns li a.button{
	margin: 0px;	
	transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
	border: 0px solid transparent;
	border-radius: 5px;
	padding: 0.85em 1em;
	margin: 0px 0px 1rem;
	font-size: 1rem;
	background-color: #d61232;
	color: white;
}

nav.row.large-12.columns li a.button:hover{	
	background-color: white;
	color: #302b2a;
}*/

nav#menu-push{
	margin-top: 76px;
	height: 100vh;
	width: 300px;
	position: fixed;
	z-index: 1000;
	left: 0px;
	top: 0px;
	background: #302b2a none repeat scroll 0% 0%;
	color: #FFF;
	z-index: 100000000;
	transform-style: preserve-3d;
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 0.99, 0.13, 0.995);
	transform: translate(-300px, 0px);
}

nav#menu-push.open{
	transform: translate(0px, 0px);
}

nav#menu-push>ul{
	/*background-color: yellow;*/
	margin: 20px;
}

nav#menu-push>ul>li>a{
	color: white;
	font-size: 1.25rem;
}

nav#menu-push>ul>li>a:hover{
	color: #d61232;	
}

main#base{
	
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 0.99, 0.13, 0.995);
	transform: translate(0px, 0px);	

}

main#base.open{
	transform: translate(300px, 0px);	
}

main#base>section:nth-child(1){
	padding: 0;
}

.frame-left, .frame-right{
	margin: 0px 0px 1rem;
    padding: 1rem 1rem 0px 1rem;
    border: 0px solid rgba(10, 10, 10, 0.25);
    border-radius: 0px;
    position: relative; 
}
.frame-left{
	background-color: #305697;	   
}


.frame-right{
	background-color: #DA4C38;
}

div.inside-left, div.inside-right{
	margin: 0px 0px 0px;
	padding: 1rem;	
	/*border-width: 1px 1px 0px 1px;*/  border-width: 1px 1px 0px 1px; 
	/*border-style: solid solid none solid;*/ border-style: solid solid none solid;
	border-color: black;
	/*box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.1);*/
	border-radius: 4px 4px 0px 0px;
	position: relative;
	color: black;
	background-color: rgba(0,0,0,0);
}

footer.inside-left, footer.inside-right{
	margin: 0px 0px 1rem;
	padding: 1rem;	
	border-width: 0px 1px 1px 1px;
	border-style: none solid solid solid;
	border-color: black;
	/*box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);*/
	border-radius: 0px 0px 4px 4px;
	position: relative;
	color: #302b2a;
	background-color: rgba(0,0,0,0);
	height: 50px;
}

footer.inside-left p, footer.inside-right p{
	text-align: right;
	margin-right: 55px;
	font-size: 0.9rem;
	font-style: italic;

}

button.square-button{
	background-image: url('../img/iconset_yokoso_sprite_black.svg');
	background-repeat: no-repeat;
	background-position: center -1579px;
	background-size: auto;
	border-color: #302b2a;
	border-width: 1px 0 0 1px;
	border-style: solid none none solid;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: -1px;
	right: -1px;
	border-radius: 0px;
	outline-color: rgba(0,0,0,0);
}

/*button.square-button:after{
	content: "▹";
	padding: 15px;
	line-height: 48px;
	font-size: 2rem;
	color: #302b2a;
}*/

main > section:nth-child(2), main > section:nth-child(3){
	padding: 0;
}

main > section:nth-child(2) div.inside-right, main > section:nth-child(2) footer.inside-right, main > section:nth-child(3) div.inside-right, main > section:nth-child(3) footer.inside-right{
	
	border-color: black;
	color: black;
	background-color: transparent;
	
}

main > section:nth-child(2) button.square-button, main > section:nth-child(3) button.square-button{
	background-color: transparent;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: -1px;
	right: -1px;
	border-radius: 0px;
	border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: black;
}

main > section:nth-child(2) button.square-button:after, main > section:nth-child(3) button.square-button:after{
	content: "▹";
	padding: 15px;
	line-height: 48px;
	font-size: 2rem;
	color: black;
}

main > section.row.large-12.columns{
	margin-bottom: 1rem;
}

.border-button{
	margin: 0px 0px 1rem;
	padding: 1rem;	
	border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: black;
	/*box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);*/
	border-radius: 0px;
	position: relative;
	color: black;
	background-color: rgba(0,0,0,0);
	height: 50px;
}

.border-button p{
	text-align: right;
	margin-right: 55px;
	margin-left: 55px;
	font-size: 0.9rem;
	font-style: italic;
}

#base > section > article:nth-child(2) > footer:nth-child(2){
	border-width: 1px 1px 0px 1px;
	border-style: solid solid none solid;
	margin: 0px;
}

#base > section > article:nth-child(2) > footer:nth-child(2) .square-button{
	border-width: 0 0 0 1px;
	border-style: none none none solid;
	margin: 0px;
}

.picto-button{
	background-color: transparent;
	border-color: #302b2a;
	border-width: 0 1px 0 0;
	border-style: none solid none none;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: -1px;
	left: -1px;
	border-radius: 0px;
	outline-color: rgba(0,0,0,0);
}

#base > section > article:nth-child(2) > footer:nth-child(2) button.picto-button{
	background-image: url('../img/iconset_yokoso_sprite_black.svg');
	background-repeat: no-repeat;
	background-position: center -1015px;
	background-size: auto;
}

#base > section > article:nth-child(2) > footer:nth-child(3) > button.picto-button{
	background-image: url('../img/iconset_yokoso_sprite_black.svg');
	background-repeat: no-repeat;
	background-position: center -714px;
	background-size: auto;
}

button.picto-button::after{
	background-color: #d61232;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	top:0;
	right:0;

}

button.big-button{
	margin: 0px 0px 1rem 0px;
	padding: 1rem;	
	border: none;
	border-radius: 4px;
	position: relative;
	color: white;
	background-color: #d61232;
	height: 76px;
	width: 100%;
	outline-color: rgba(0,0,0,0);
}

button.big-button h1{
	font-size: 1.45rem;
	text-align: left;
	margin-left: 81px;
	line-height: 3rem;
}

button.big-button div.picto-button{
	width: 76px;
	height: 100%;
	border-style: solid;	
	border-color: #EEE8D8;
	border-width: 0 1px 0 0;
	outline-color: rgba(0,0,0,0);
	background-image: url('../img/iconset_yokoso_sprite.svg');
	background-repeat: no-repeat;
	background-position: center -2448px;
	background-size: auto;
}

#base > section > article:nth-child(3) > div.callout{
	border-radius: 4px;
	border: 1px solid #302b2a;
	text-align: center;
}

#base > section > article:nth-child(3) > div.callout h1{
	width: 100%;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #302b2a;	
}

#base > section > article:nth-child(3) > div > div > div:nth-child(2) > h1{border-width: 0 0px 1px 0;}

#base > section > article:nth-child(3) > div.callout div.large-6.medium-6{padding: 0;}