body {
  background-color: #EEE8D8;
  font: "Roboto", sans-serif; }

main#base header.second-nav section div.right-panel {
  position: relative; }
  main#base header.second-nav section div.right-panel section.read-letter {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0; }
    main#base header.second-nav section div.right-panel section.read-letter section ul.letter-accordion li {
      max-width: 780px;
      background-color: white;
      color: black;
      margin: 10px auto 10px auto; }
      main#base header.second-nav section div.right-panel section.read-letter section ul.letter-accordion li div.letter-preview {
        display: none; }
      main#base header.second-nav section div.right-panel section.read-letter section ul.letter-accordion li div.letter-preview.active {
        height: 76px;
        display: block; }
      main#base header.second-nav section div.right-panel section.read-letter section ul.letter-accordion li div.letter-inner {
        display: none; }
      main#base header.second-nav section div.right-panel section.read-letter section ul.letter-accordion li div.letter-inner.active {
        display: block; }
