body {
  background-color: #EEE8D8;
  font: "Roboto", sans-serif; }

main#base header.second-nav section div.right-panel {
  position: relative; }
  main#base header.second-nav section div.right-panel section.read-letter {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0; }
