button::focus {
  outline-color: transparent; }

h1, h2, h3, h4 {
  color: #302a2b; }

body {
  background-color: #EEE8D8;
  font: "Roboto", sans-serif; }
  body header.first-nav {
    margin: 0;
    border: 0;
    padding: 0; }
    body header.first-nav nav .large-4.medium-4 {
      padding: 16px 16px 0 16px; }
    body header.first-nav nav ul {
      text-align: right; }
      body header.first-nav nav ul li {
        display: inline-block; }
        body header.first-nav nav ul li a.login.button {
          margin: 0px;
          transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
          border: 0px solid transparent;
          border-radius: 4px;
          padding: 0.85em 1em;
          margin: 0px 0px 1rem;
          font-size: 1rem;
          background-color: #d61232;
          color: white; }
        body header.first-nav nav ul li a.login.button:hover {
          background-color: white;
          color: #302b2a; }
      body header.first-nav nav ul li a.signup.button {
        transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
        border: 0px solid transparent;
        border-radius: 0px;
        padding: 0.85em 1em;
        margin: 0px 0px 16px;
        font-size: 1rem;
        background-color: transparent;
        color: white; }
    body header.first-nav h1.large-4.medium-4.columns {
      text-align: center;
      padding: 5px 0 0 0; }

header.first-nav.online nav ul li .contact {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: transparent;
  background-image: url("../img/iconset_yokoso_sprite.svg");
  background-repeat: no-repeat;
  background-position: center -720px;
  background-size: auto; }
  header.first-nav.online nav ul li .contact:after {
    content: "1";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: #d61232;
    color: white;
    font-size: 0.7rem;
    padding: 1px; }
header.first-nav.online nav ul li .msg {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: transparent;
  background-image: url("../img/iconset_yokoso_sprite.svg");
  background-repeat: no-repeat;
  background-position: center -1020px;
  background-size: auto; }
  header.first-nav.online nav ul li .msg:after {
    content: "1";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: #d61232;
    color: white;
    padding: 1px;
    font-size: 0.7rem; }
header.first-nav.online nav ul li .profil {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  background-color: transparent;
  padding-right: 5px; }
header.first-nav.online nav ul li a.avatar {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  width: 40px;
  background-image: url("../img/avatar2.svg");
  background-repeat: no-repeat;
  background-position: -106px center;
  background-size: cover; }

div.lightbox.active {
  background-color: rgba(48, 42, 43, 0.9);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000000000;
  display: block;
  overflow-y: hidden;
  overflow: hidden;
  transition: transform 0.25s ease-out 0s;
  transform: scale(1); }
  div.lightbox.active section {
    position: relative; }
    div.lightbox.active section div.separator {
      width: 0px;
      background-color: yellow;
      margin: auto;
      position: absolute;
      top: 114px;
      right: 50%;
      left: 50%; }
      div.lightbox.active section div.separator span.line {
        display: inline-block;
        width: 1px;
        height: 150px;
        background-color: white;
        text-align: center; }
      div.lightbox.active section div.separator p {
        margin-left: -5px;
        color: white;
        font-size: 1rem;
        text-align: center; }
    div.lightbox.active section h2 {
      text-align: center;
      color: white;
      font-size: 2rem;
      margin-bottom: 15px; }
    div.lightbox.active section form {
      background-color: transparent;
      padding: 20px 100px 20px 100px; }
      div.lightbox.active section form p {
        font-weight: 300;
        font-size: 1rem;
        color: white; }
      div.lightbox.active section form p.remember {
        float: left;
        z-index: 1000000000; }
        div.lightbox.active section form p.remember input[type="checkbox"]:not(:checked) {
          margin-right: 10px;
          -webkit-appearance: none;
          width: 17px;
          height: 17px;
          border: 0px none transparent;
          background: white;
          border-radius: 0;
          box-shadow: inset 0 0px 0px transparent;
          box-shadow: 0px;
          outline-color: transparent; }
        div.lightbox.active section form p.remember input[type="checkbox"]:checked {
          margin-right: 10px;
          width: 17px;
          height: 17px; }
      div.lightbox.active section form a.forget {
        float: right;
        z-index: 1000000000; }
      div.lightbox.active section form a {
        font-weight: 300;
        font-size: 1rem;
        color: white;
        text-decoration: underline; }
        div.lightbox.active section form a:hover {
          color: #d61232; }
      div.lightbox.active section form div {
        margin: 0 0 1rem 0;
        position: relative;
        display: block; }
        div.lightbox.active section form div input {
          display: block;
          width: 100%;
          height: 76px;
          outline: none;
          font-family: "Roboto", sans-serif; }
        div.lightbox.active section form div input[type="email"], div.lightbox.active section form div input[type="password"], div.lightbox.active section form div input[type="text"] {
          border: 0;
          background: #EEE8D8;
          padding: 1.4rem 1rem 1.4rem 1rem;
          font-size: 1.2em;
          font-weight: 100; }
      div.lightbox.active section form input[type="submit"], div.lightbox.active section form input[type="submit"].facebook, div.lightbox.active section form input[type="submit"].twitter, div.lightbox.active section form input[type="submit"].google {
        display: block;
        width: 100%;
        outline: none;
        font-family: "Roboto", sans-serif;
        margin: 0 0 1rem 0;
        position: relative;
        display: block;
        border: none;
        border-radius: 4px;
        outline: none;
        padding: 1.4rem 1rem 1.4rem 1rem;
        /*0.7em 0*/
        color: white;
        background: #d61232;
        font-size: 1.2em;
        line-height: 1.6em;
        cursor: pointer;
        font-weight: 400; }
        div.lightbox.active section form input[type="submit"]:hover {
          color: #302a2b;
          background: white; }
      div.lightbox.active section form input.facebook[type="submit"] {
        background: #3A5795; }
        div.lightbox.active section form input.facebook[type="submit"]:hover {
          color: #302a2b;
          background: white; }
      div.lightbox.active section form input.twitter[type="submit"] {
        background: #1DA1F2; }
        div.lightbox.active section form input.twitter[type="submit"]:hover {
          color: #302a2b;
          background: white; }
      div.lightbox.active section form input.google[type="submit"] {
        background: #D73D32; }
        div.lightbox.active section form input.google[type="submit"]:hover {
          color: #302a2b;
          background: white; }

div.lightbox.avatar.active section div {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 450px;
  text-align: center; }
  div.lightbox.avatar.active section div figure {
    display: inline-block;
    vertical-align: top;
    margin: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    cursor: pointer;
    background-color: pink;
    overflow: hidden;
    opacity: 1;
    transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s; }
    div.lightbox.avatar.active section div figure:hover {
      opacity: 0.5; }
    div.lightbox.avatar.active section div figure img {
      height: 100%; }

div.lightbox.active.search .dropdown {
  background-color: blue;
  width: 100%; }
div.lightbox.active.search label {
  float: left;
  display: block;
  outline: none;
  width: 49%;
  font-family: "Roboto", sans-serif; }
div.lightbox.active.search input {
  float: right;
  display: block;
  outline: none;
  width: 49%;
  height: initial;
  font-family: "Roboto", sans-serif; }
div.lightbox.active.search select {
  float: right;
  border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../img/iconset_yokoso_sprite_black.svg");
  background-repeat: no-repeat;
  background-position: right -2654px;
  background-size: auto;
  height: 38px;
  width: 49%;
  outline-color: transparent;
  padding-left: 10px; }

div.lightbox > button.close {
  color: white;
  font-size: 4rem;
  line-height: 2rem;
  width: 100%;
  height: 50px;
  margin: 15px auto 10px auto; }

div.lightbox {
  width: 0vw;
  height: 0vh;
  transform: scale(0); }

nav#menu-push.online ul li .profil {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 1.5rem;
  background-color: transparent;
  padding-left: 5px;
  margin-bottom: 15px; }
  nav#menu-push.online ul li .profil:hover {
    color: white; }
nav#menu-push.online ul li a.avatar {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  width: 40px;
  background-image: url("../img/avatar2.svg");
  background-repeat: no-repeat;
  background-position: -106px center;
  background-size: cover; }

main#base header.second-nav {
  margin-top: 96px; }
  main#base header.second-nav section div.right-panel {
    position: relative; }
    main#base header.second-nav section div.right-panel section.read-letter.active {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block; }
      main#base header.second-nav section div.right-panel section.read-letter.active section ul.letter-accordion li {
        max-width: 780px;
        background-color: white;
        color: black;
        margin: 10px auto 10px auto; }
        main#base header.second-nav section div.right-panel section.read-letter.active section ul.letter-accordion li div.letter-preview {
          display: none; }
        main#base header.second-nav section div.right-panel section.read-letter.active section ul.letter-accordion li div.letter-preview.active {
          height: 76px;
          display: block; }
        main#base header.second-nav section div.right-panel section.read-letter.active section ul.letter-accordion li div.letter-inner {
          display: none; }
        main#base header.second-nav section div.right-panel section.read-letter.active section ul.letter-accordion li div.letter-inner.active {
          display: block; }
    main#base header.second-nav section div.right-panel section.read-letter {
      display: none; }

main#base section#profil {
  margin: 96px auto 20px auto; }
  main#base section#profil section.row div.left-column figure.avatar {
    position: relative;
    display: block;
    width: 15rem;
    height: 15rem;
    margin: 0 auto 1rem auto; }
    main#base section#profil section.row div.left-column figure.avatar img {
      position: relative;
      display: block;
      width: 15rem;
      height: 15rem;
      border-radius: 15rem;
      background-color: lightcoral;
      transition: opacity 0.25s ease-out 0s;
      opacity: 1;
      cursor: pointer; }
      main#base section#profil section.row div.left-column figure.avatar img:hover {
        opacity: 0.5; }
    main#base section#profil section.row div.left-column figure.avatar figcaption.choose-avatar {
      position: absolute;
      display: block;
      width: 100%;
      line-height: 2rem;
      top: 35%;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 2rem;
      z-index: -1;
      color: white;
      transition: z-index 0.25s ease-out 0s; }
      main#base section#profil section.row div.left-column figure.avatar figcaption.choose-avatar:hover {
        z-index: 2000000; }
  main#base section#profil section.row div.left-column div {
    margin-bottom: 10px;
    height: 30px; }
    main#base section#profil section.row div.left-column div label {
      width: 50%;
      float: left;
      text-align: right;
      line-height: 30px;
      padding-right: 1rem; }
    main#base section#profil section.row div.left-column div select {
      line-height: 30px;
      border: 0 !important;
      /*Removes border*/
      -webkit-appearance: none;
      /*Removes default chrome and safari style*/
      -moz-appearance: none;
      /* Removes Default Firefox style*/
      background-image: url("../img/iconset_yokoso_sprite_black.svg");
      background-repeat: no-repeat;
      background-position: center -20px;
      background-size: cover;
      height: 100%;
      /*Width of select dropdown to give space for arrow image*/
      text-indent: 0.01px;
      /* Removes default arrow from firefox*/
      text-overflow: "";
      /*Removes default arrow from firefox*/
      outline-color: transparent;
      color: grey;
      width: 50%;
      float: left;
      background: transparent; }
      main#base section#profil section.row div.left-column div select option {
        width: 100%; }
    main#base section#profil section.row div.left-column div div {
      width: 50%;
      float: left; }
      main#base section#profil section.row div.left-column div div select[name="birthdate"] {
        width: 33.33%;
        float: left; }
  main#base section#profil section.row div.left-column input[type="submit"] {
    display: block;
    height: 50px;
    width: 100%;
    background-color: white;
    box-shadow: 0px;
    border: none;
    border-radius: 4px;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s; }
    main#base section#profil section.row div.left-column input[type="submit"]:hover {
      background-color: #d61232;
      color: white; }
  main#base section#profil section.row div.left-column button.manage-account {
    display: block;
    border-color: #302a2b;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s; }
    main#base section#profil section.row div.left-column button.manage-account:hover {
      background-color: white;
      color: #302a2b; }
  main#base section#profil section.row div.right-column div:first-child {
    width: 50%;
    background-color: transparent; }
  main#base section#profil section.row div.right-column div {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1rem; }
    main#base section#profil section.row div.right-column div input[type="text"][placeholder="Nouvel_inscrit"] {
      font-size: 2rem;
      color: #302a2b; }
    main#base section#profil section.row div.right-column div h2 {
      font-size: 2rem;
      position: relative; }
      main#base section#profil section.row div.right-column div h2:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;
        background-image: url("../img/iconset_yokoso_sprite_black.svg");
        background-repeat: no-repeat;
        background-position: center -60px;
        background-size: cover; }
    main#base section#profil section.row div.right-column div textarea {
      border: 0px none transparent;
      box-shadow: 0px;
      width: 100%;
      min-height: 100px;
      max-height: 100%;
      background-color: transparent; }
    main#base section#profil section.row div.right-column div input[type="text"] {
      border: 0px none transparent;
      box-shadow: 0px;
      width: 100%;
      height: 100%;
      background-color: transparent; }
    main#base section#profil section.row div.right-column div div {
      background-color: transparent;
      margin-bottom: 1rem;
      width: 100%;
      height: 30px;
      padding-left: 0px; }
      main#base section#profil section.row div.right-column div div label {
        width: 25%;
        float: left; }
      main#base section#profil section.row div.right-column div div select {
        line-height: 30px;
        border: 0 !important;
        /*Removes border*/
        -webkit-appearance: none;
        /*Removes default chrome and safari style*/
        -moz-appearance: none;
        /* Removes Default Firefox style*/
        background-image: url("../img/iconset_yokoso_sprite_black.svg");
        background-repeat: no-repeat;
        background-position: center -20px;
        background-size: cover;
        /*Width of select dropdown to give space for arrow image*/
        text-indent: 0.01px;
        /* Removes default arrow from firefox*/
        text-overflow: "";
        /*Removes default arrow from firefox*/
        outline-color: transparent;
        color: grey;
        width: 75%;
        background: transparent;
        float: left; }

main#base section#profil-corres {
  margin: 96px auto 20px auto; }
  main#base section#profil-corres section.row div.left-column img {
    display: block;
    width: 15rem;
    height: 15rem;
    border-radius: 15rem;
    background-color: lightcoral;
    margin: 0 auto 1rem auto;
    transition: opacity; }
  main#base section#profil-corres section.row div.left-column div {
    margin-bottom: 10px;
    height: 30px; }
    main#base section#profil-corres section.row div.left-column div label {
      width: 50%;
      float: left;
      text-align: right;
      line-height: 30px;
      padding-right: 1rem; }
    main#base section#profil-corres section.row div.left-column div p {
      color: grey;
      width: 50%;
      float: left;
      line-height: 30px; }
    main#base section#profil-corres section.row div.left-column div div {
      width: 50%;
      float: left; }
      main#base section#profil-corres section.row div.left-column div div p.birthdate {
        width: 33.33%;
        float: left;
        color: grey;
        line-height: 30px; }
  main#base section#profil-corres section.row div.left-column input[type="submit"].add-corres {
    display: block;
    height: 50px;
    width: 100%;
    background-color: white;
    box-shadow: 0px;
    border: none;
    border-radius: 4px;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s; }
    main#base section#profil-corres section.row div.left-column input[type="submit"].add-corres:hover {
      background-color: #d61232;
      color: white; }
  main#base section#profil-corres section.row div.left-column input[type="submit"].add-corres.on {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #d61232;
    box-shadow: 0px;
    border: none;
    border-radius: 4px;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
    color: white;
    transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s; }
    main#base section#profil-corres section.row div.left-column input[type="submit"].add-corres.on:hover {
      background-color: white;
      color: #302a2b; }
  main#base section#profil-corres section.row div.left-column button.etc {
    display: block;
    border-color: #302a2b;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
    transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s; }
    main#base section#profil-corres section.row div.left-column button.etc:hover {
      background-color: white;
      color: #302a2b; }
  main#base section#profil-corres section.row div.right-column div:first-child {
    width: 50%;
    background-color: transparent;
    padding-bottom: 0; }
  main#base section#profil-corres section.row div.right-column div:last-child p.interest-tag {
    display: inline-block;
    vertical-align: top;
    height: 30px;
    background-color: grey;
    padding: 0 1rem 0 1rem;
    color: white;
    width: initial;
    border-radius: 4px; }
  main#base section#profil-corres section.row div.right-column div {
    background-color: white;
    margin-bottom: 1rem;
    padding: 1rem 1rem 1rem 1rem; }
    main#base section#profil-corres section.row div.right-column div h2 {
      font-size: 2rem;
      position: relative; }
    main#base section#profil-corres section.row div.right-column div p {
      width: 100%;
      background-color: transparent;
      color: grey; }
    main#base section#profil-corres section.row div.right-column div div {
      background-color: transparent;
      margin-bottom: 1rem;
      width: 100%;
      padding-left: 0px;
      padding-top: 0px; }
      main#base section#profil-corres section.row div.right-column div div label {
        width: 25%;
        float: left; }
      main#base section#profil-corres section.row div.right-column div div p {
        color: grey;
        float: left;
        width: 75%; }

main#base div.flexslider {
  margin: 76px auto 20px auto; }

main#base section#dashboard {
  margin: 96px auto 20px auto;
  height: 100vh; }

main#base section#correspondance {
  margin: 96px auto 20px auto; }
  main#base section#correspondance section article.nest {
    padding-right: 0; }
    main#base section#correspondance section article.nest button h1 {
      font-size: 1.2rem; }
  main#base section#correspondance section div.nest {
    padding: 0; }
  main#base section#correspondance section div.large-4 article footer.callout.border-button {
    margin-bottom: 0; }
    main#base section#correspondance section div.large-4 article footer.callout.border-button button.picto-button.on {
      background-color: #d61232;
      z-index: -1;
      color: white; }
    main#base section#correspondance section div.large-4 article footer.callout.border-button p {
      text-align: left;
      line-height: 1rem;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400; }
      main#base section#correspondance section div.large-4 article footer.callout.border-button p a {
        color: #302a2b; }
  main#base section#correspondance section div.large-4 article div.profil.middle {
    border-width: 0 1px 0 1px;
    border-style: none solid none solid;
    border-color: #302a2b; }
  main#base section#correspondance section div.large-4 article div.profil {
    padding: 1rem;
    border-width: 0 1px 1px 1px;
    border-style: none solid solid solid; }
  main#base section#correspondance section div.columns article footer.callout p a {
    color: #302a2b; }
  main#base section#correspondance section div.columns article .callout.profil {
    width: 100%;
    border-width: 0 1px 1px 1px;
    border-style: none solid solid solid;
    border-color: #302a2b; }
    main#base section#correspondance section div.columns article .callout.profil .avatar {
      display: block;
      padding: 10px;
      width: 100px;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      color: #302a2b;
      font-size: 0.9rem; }
      main#base section#correspondance section div.columns article .callout.profil .avatar:hover {
        opacity: 0.5; }
      main#base section#correspondance section div.columns article .callout.profil .avatar p {
        text-align: center;
        margin: auto; }
      main#base section#correspondance section div.columns article .callout.profil .avatar .avatar-pict {
        display: block;
        margin: 0 auto 5px auto;
        content: "";
        height: 60px;
        width: 60px;
        background-image: url("../img/avatar2.svg");
        background-repeat: no-repeat;
        background-position: -236px center;
        background-size: cover; }
  main#base section#correspondance section div.columns article footer button.square-button.block {
    border-width: 0 0 0 1px;
    border-style: none none none solid; }

div.flexslider div a {
  float: left;
  padding: 0 10px 0 10px;
  height: 50px;
  line-height: 50px;
  border-color: #d61232;
  border-width: 1px;
  border-style: solid;
  text-align: right;
  color: #d61232;
  transition: background-color;
  transition-duration: 0.30s;
  transition-timing-function: ease-out; }
div.flexslider div button {
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #d61232;
  padding: 0;
  border-color: #d61232;
  border-width: 1px 1px 1px 0;
  border-style: solid solid solid none; }
  div.flexslider div button:hover {
    color: white;
    border: none;
    background-color: #d61232; }
  div.flexslider div button:focus {
    outline-width: 0px; }

section.line-of-article article {
  margin-bottom: 20px; }
  section.line-of-article article figcaption .column-left {
    text-align: right; }
    section.line-of-article article figcaption .column-left p {
      margin-bottom: 0; }
    section.line-of-article article figcaption .column-left .article-date {
      color: grey;
      line-height: 3rem; }
    section.line-of-article article figcaption .column-left .article-tag {
      color: #d61232; }
  section.line-of-article article figcaption .column-right div a {
    float: left;
    padding: 0 10px 0 10px;
    height: 50px;
    line-height: 50px;
    border-color: #d61232;
    border-width: 1px;
    border-style: solid;
    text-align: right;
    color: #d61232;
    transition: background-color;
    transition-duration: 0.30s;
    transition-timing-function: ease-out; }
  section.line-of-article article figcaption .column-right div button {
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #d61232;
    padding: 0;
    border-color: #d61232;
    border-width: 1px 1px 1px 0;
    border-style: solid solid solid none; }
    section.line-of-article article figcaption .column-right div button:hover {
      color: white;
      border: none;
      background-color: #d61232; }
    section.line-of-article article figcaption .column-right div button:focus {
      outline-width: 0px; }

section.pagination ul {
  text-align: center; }
  section.pagination ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 10px 0 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: none;
    text-align: center;
    color: #302a2b;
    outline-color: transparent;
    cursor: pointer; }
    section.pagination ul li a {
      color: #302a2b; }
  section.pagination ul li:last-child, section.pagination ul li:first-child {
    display: inline-block;
    vertical-align: top; }
    section.pagination ul li:last-child a:hover, section.pagination ul li:first-child a:hover {
      color: white;
      display: block;
      background-color: #302a2b;
      position: relative;
      padding: 0 10px 0 10px;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: white;
      outline-color: transparent;
      cursor: pointer; }

body > footer {
  background-color: white;
  padding: 40px;
  margin-top: 20px;
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0, 0.99, 0.13, 0.995);
  transform: translate(0px, 0px); }
  body > footer div nav .footer-nav {
    margin-bottom: 30px; }
    body > footer div nav .footer-nav li {
      display: inline-block;
      margin-right: 20px; }
      body > footer div nav .footer-nav li a {
        color: #302a2b; }
        body > footer div nav .footer-nav li a:hover {
          color: #d61232; }
  body > footer div nav .footer-sub-nav li {
    display: inline-block;
    font-size: 0.9rem;
    color: grey;
    margin-right: 20px; }
    body > footer div nav .footer-sub-nav li a {
      color: grey; }
      body > footer div nav .footer-sub-nav li a:hover {
        color: #d61232; }
    body > footer div nav .footer-sub-nav li select:focus {
      outline-width: 0px; }
  body > footer div div .newsletter input {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 0 10px 0 10px;
    height: 50px;
    line-height: 50px;
    border-color: #302a2b;
    border-width: 1px;
    border-style: solid;
    text-align: left;
    color: #302a2b;
    transition: background-color;
    transition-duration: 0.30s;
    transition-timing-function: ease-out;
    outline-color: transparent; }
  body > footer div div .newsletter button {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    border-color: #302a2b;
    border-width: 1px 1px 1px 0;
    border-style: solid solid solid none; }
    body > footer div div .newsletter button:hover {
      color: white;
      border: none;
      background-color: #302a2b; }
    body > footer div div .newsletter button:focus {
      outline-width: 0px; }
  body > footer div div .social-media li {
    display: inline-block; }

body > footer.open {
  transform: translate(300px, 0px); }
