$body-bg-color: #EEE8D8;
$global-font: 'Roboto', sans-serif;
$block-height: 76px;

body {
  background-color: $body-bg-color;
  font: $global-font;
}

main#base{

	header.second-nav{

		section{

			div.right-panel{

				position: relative;

				section.read-letter{
					position: absolute;
					opacity: 1;
					top:0;
					left:0;
					right:0;

					section{
						
						ul.letter-accordion{
							
							li{
								max-width: 780px;
								background-color: white;
								color: black;
								margin: 10px auto 10px auto;


								div.letter-preview{
									display: none;
								}

								div.letter-preview.active{
									height: $block-height;
									display: block;
								}

								div.letter-inner{									
									display: none;
								}

								div.letter-inner.active{									
									display: block;
								}
							}

						}
					}
				}

			}
		}
	}
}

	




