$body-bgc: #EEE8D8;
$lightbox-bgc: rgba(48,42,43,0.9);
$global-font: 'Roboto', sans-serif;
$block-height: 76px;
$cherry-red: #d61232;
$my-black: rgb(48,42,43);
$global-border-radius: 4px;




body{
	background-color: $body-bgc;
  	font: $global-font;

	header.first-nav{
		nav{
			ul{
				li{
					a.login.button{
						margin: 0px;	
						transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
						border: 0px solid transparent;
						border-radius: $global-border-radius;
						padding: 0.85em 1em;
						margin: 0px 0px 1rem;
						font-size: 1rem;
						background-color: #d61232;
						color: white;
					}

					a.login.button:hover{
						background-color: white;
						color: #302b2a;
					}
				}

				li{
					a.signup.button{
						transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
						border: 0px solid transparent;
						border-radius: 0px;
						padding: 0.85em 1em;
						margin: 0px 0px 1rem;
						font-size: 1rem;
						background-color: transparent;
						color: white;
					}

					a.signup.button:hover{
						// background-color: white;
						// color: #302b2a;
					}
				}
			}
		}
	}
}

div.lightbox.active{
	background-color: $lightbox-bgc;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	left:0;	
	z-index: 10000000000;
	display: block;
	overflow-y: hidden;
	// transition-property: transform;
	// transition-duration: 1s;
	// transition-timing-function: ease-out;
	// transform: translate(0, 0);
	
	section{

		position: relative;

		div.separator{
			width: 0px;
			background-color: yellow;
			margin: auto;
			position: absolute;
			top: 114px;
			right: 50%;
			left: 50%;

			span.line{
			display: inline-block;
			width: 1px;
			height: 150px;
			background-color: white;
			text-align: center;
			}

			p{margin-left: -5px; color:white; font-size: 1rem; text-align: center;}
		
		}

		h2{
			text-align: center;
			color: white;
			font-size: 2rem;
			margin-bottom: 15px;
		}

		form{
			background-color: transparent;
			padding: 20px 100px 20px 100px;

			p{
				font-weight: 300;
				font-size: 1rem;
				color: white;								
			}

			p.remember{
				float: left;
				z-index: 1000000000;


				input[type="checkbox"]:not(:checked){
						margin-right: 10px;
						-webkit-appearance: none;
					    width: 17px; height: 17px;
  						border: 0px none transparent;
  						background: white;
  						border-radius: 0;
  						box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  						box-shadow: 0px;
  						outline-color: transparent;					    
				}

				input[type="checkbox"]:checked{
					    margin-right: 10px;
					    width: 17px; height: 17px;
							
				}				
			}

			a.forget{
				float: right;	
				z-index: 1000000000;			
			}

			a{
				font-weight: 300;
				font-size: 1rem;
				color: white;
				text-decoration: underline;

				&:hover{
				color: $cherry-red;
				}
			}			

			div{
				margin: 0 0 1rem 0;
				position: relative;
				display: block;

				input{
					display: block;
    				width: 100%;
    				height: $block-height;
    				outline: none;
    				font-family: $global-font;
				}

				input[type="email"], input[type="password"], input[type="text"]{
					border: 0;
				    background: $body-bgc;
				    padding: 1.4rem 1rem 1.4rem 1rem;
				    font-size: 1.2em;
				    font-weight: 100;
				}				
								
			}

			input[type="submit"]{
					display: block;
    				width: 100%;
    				outline: none;
    				font-family: $global-font;
					
					margin: 0 0 1rem 0;
					position: relative;
					display: block;
					
					border: none;
					border-radius: $global-border-radius;
					outline: none;					
					padding: 1.4rem 1rem 1.4rem 1rem;  /*0.7em 0*/
					color: white;
					background: $cherry-red;
					font-size: 1.2em;
					line-height: 1.6em;
					cursor: pointer;
					font-weight: 400;

					&:hover{
						color: $my-black;
						background: white;					    
					}
			}
			
			input[type="submit"].facebook{
				@extend input[type="submit"];
				background: #3A5795;

				&:hover{color: $my-black; background: white;}
			}

			input[type="submit"].twitter{
				@extend input[type="submit"];
				background: #1DA1F2;

				&:hover{color: $my-black; background: white;}
			}
			input[type="submit"].google{
				@extend input[type="submit"];
				background: #D73D32;

				&:hover{color: $my-black; background: white;}
			}		

		}

	}

}

div.lightbox.active.search{

	section{

		form{

			div{
				margin: 0 0 1rem 0;
				position: relative;
				display: block;
				width: 100%;
				height: $block-height;

				label{
					float: left;
					display: block;    				
    				outline: none;
    				width: 49%;	
    				font-family: $global-font;
				}

				input{
					float: right;
					display: block;    				
    				outline: none;
    				width: 49%;	
    				height: initial;
    				font-family: $global-font;
				}

				select{
					float: right;
					border: 0 !important;
				    -webkit-appearance: none;
				    -moz-appearance: none;
				    background-image: url('../img/iconset_yokoso_sprite_black.svg');
				    background-repeat: no-repeat;
				    background-position: right -2654px;
				    background-size: auto;
				    height: $block-height/2;
				    width: 49%;				    
				    outline-color: rgba(0,0,0,0);
				    padding-left: 10px;
				}

			}
		}
	}
}

		

div.lightbox > button.close{	
	color: white;
	font-size: 4rem;
	line-height: 2rem;
	width: 100%;
	height: 50px;
	margin: 15px auto 10px auto;
}

div.lightbox{
	width: 0vw;
	height: 0vh;
	display: none;
	// transform: translate(-100vw, 0);
}

main#base{

	header.second-nav{

		section{

			div.right-panel{

				position: relative;


				section.read-letter.active{
					position: absolute;
					top:0;
					left:0;
					right:0;
					display: block;

					section{
						
						ul.letter-accordion{
							
							li{
								max-width: 780px;
								background-color: white;
								color: black;
								margin: 10px auto 10px auto;


								div.letter-preview{
									display: none;
								}

								div.letter-preview.active{
									height: $block-height;
									display: block;
								}

								div.letter-inner{									
									display: none;
								}

								div.letter-inner.active{									
									display: block;
								}
							}

						}
					}
				}

				section.read-letter{
					display: none;
				}

			}
		}
	}
}

	




